@using BugTrackingSystem.Service.Models.FormModels
@model BugTrackingSystem.Service.Models.FullBugViewModel
@{
    ViewBag.Title = "Task";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-12 general-container" style="margin-top: 30px;">
    <ol class="breadcrumb inline-block padding0" style="background-color: inherit">
        <li><a href="@Url.Action("Project", "Project", new { projectId = @Model.ProjectID })"> @Model.ProjectName </a></li>
        <li class="active">@Model.ProjectPrefix-@Model.BugId</li>
    </ol>
    <h1 class="cut-text">
        @Model.Subject
    </h1>
    <div class="col-xs-12 row padding0">
        <div class="pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Mark as closed" id="closeTask">
            <i class="fa fa-trash round" aria-hidden="true" data-toggle="modal" data-target="#addProjectModal" style="font-size: 24px"></i>
        </div>
        <div class="pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="No idea what is that">
            <i class="fa fa-clone round" aria-hidden="true" data-toggle="modal" data-target="#addProjectModal" style="font-size: 24px"></i>
        </div>
        <div class="pull-right" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Edit task">
            <i class="fa fa-pencil round" aria-hidden="true" style="font-size: 24px" data-toggle="modal" data-target="#editTask"></i>
        </div>
    </div>
    <div class="col-xs-12 padding0 row" style="margin-top: 15px;">
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 custom-sticker-howerless" style="min-height: 300px">
            <div class="inline-block">
                <label style="margin-right: 10px;">Priority:</label>
                @{ var priority = String.Format("../../Content/Images/" + Model.Priority + ".png"); }
                <img src="@priority" />
                <label style="margin-left: 8px;" id="priorityLable">@Model.Priority</label>
            </div>
            <div id="TaskStatusDropDown" class="pull-right inline-block">
                <label style="margin-right: 10px">Status:</label>
                <div class="ui selection dropdown" id="statusDropDown" style="padding-left: 10px;">
                    <input type="hidden" name="Status" id="statusChangeDropDown">
                    <i class="dropdown icon"></i>
                    <div class="default text inner">Status</div>
                    <div class="menu">
                        <div class="item" data-value="ToDo">To do</div>
                        <div class="item" data-value="InProgress">In progress</div>
                        <div class="item" data-value="InTesting">In testing</div>
                        <div class="item" data-value="Done">Done</div>
                        <div class="item" data-value="Closed">Closed</div>
                    </div>
                </div>
            </div>
            <hr id="hrUnderStatus">
            <div style="font-size: 14px;">
                @Model.Description
            </div>
        </div>
        <div class="padding0" id="taskAssigneeSticker">
            <div class="col-md-5 col-sm-4 col-xs-12 custom-sticker-howerless pull-right">
                <div class="col-xs-12 padding0 " style="margin-bottom: 10px;">
                    <label style="font-size: 14px;">Assignee:</label>
                    <a id="taskAssignToMeAjax" class="pull-right" style="text-decoration: underline; cursor: pointer">Assign to me</a>
                </div>
                <div class="col-xs-12 padding0" id="assignedUserInfo" style="margin-bottom: 10px;">
                    @if (Model.AssignedUser != null)
                    {
                        @Html.Action("TaskAssignedUser", "Task", new { userId = Model.AssignedUser.UserId })

                    }
                    @if (Model.AssignedUser == null)
                    {
                        <span style="font-size:16px;">No user assigned on this task</span>
                    }
                </div>
                <div class="col-xs-12 padding0" style="font-size: 14px;">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <label>Created:</label>
                    <span>@Model.CreationDate</span>
                </div>
                <div class="col-xs-12 padding0" style="font-size: 14px; margin-bottom: 20px;">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                    <label>Updated:</label>
                    <span>@Model.ModificationDate</span>
                </div>
                <div class="pull-left">
                    <label style="font-size: 13px;">Attachments</label>
                    <i class="fa fa-plus round" aria-hidden="true" style="font-size: 15px;" id="addAttachmentsIcon"></i>
                    @using (Html.BeginForm("AddAttachment", "Task", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <input value="@Model.BugId" name="bugId" class="hidden" />
                            <input type="file" name="attachments" multiple class="hidden" id="addAttachments" />
                            <input type="submit" id="submitAttachments" class="hidden" />
                    }
                </div>
                <div class="col-xs-12 padding0" id="bugAttachments">
                    @Html.Action("BugAttachments", "Task", new { bugId = @Model.BugId })
                </div>
            </div>
        </div>
    </div>
    <div id="taskComments">@Html.Action("TaskComments", "Task", new { bugId = Model.BugId })</div>
</div>

<div id="editTask" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" id="TaskModalDialog">
        <img class="loading-image" src="../../Content/Images/3.gif">
        <div class="loader"></div>
        <div class="modal-content" style="display: block">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Edit task</h3>
            </div>
            @using (Html.BeginForm("EditTask", "Task", FormMethod.Post, new { enctype = "multipart/form-data", id = "editTaskForm" }))
            {
                <div class="modal-body col-lg-12">
                    <div class="validationError" id="editTaskError"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Please fill the form</div>
                    <div class="form-group">
                        <input class="form-control" id="Title" name="Title" placeholder="Title" value="@Model.Subject" style="margin: 0; display: inline-block">
                    </div>
                    <div id="projectDropDown">
                        <div class="modalSingleDropdown ui selection dropdown pull-left cn disabled" id="taskProjectDropDown" style="margin-bottom:20px">
                            <input type="hidden" name="Project" id="projectInput" value="@Model.ProjectID">
                            <i class="dropdown icon"></i>
                            <div class="default text inner">@Model.ProjectName</div>
                        </div>
                    </div>
                    <div id="userDropDown">
                        @Html.Action("EditTaskUsers", "Task", new { projectId = Model.ProjectID })
                        @if (Model.AssignedUser != null)
                        {
                            <script>
                                $('#editTaskUserDropDown').dropdown('set selected', '@Model.AssignedUser.UserId');
                            </script>
                        }
                    </div>
                    <div class="ui selection dropdown modalSingleDropdown pull-left cn" id="editTaskPriorityDropDown">
                        <input type="hidden" name="Priority" id="editTaskPriority">
                        <i class="dropdown icon"></i>
                        <div class="default text inner">Priority</div>
                        <div class="menu">
                            <div class="item" data-value="Minor">
                                <img src="../../Content/Images/Minor.png" class="img-responsive img-circle" />
                                Minor
                            </div>
                            <div class="item" data-value="Major">
                                <img src="../../Content/Images/Major.png" class="img-responsive img-circle" />
                                Major
                            </div>
                            <div class="item" data-value="Critical">
                                <img src="../../Content/Images/Critical.png" class="img-responsive img-circle" />
                                Critical
                            </div>
                            <div class="item" data-value="Blocker">
                                <img src="../../Content/Images/Blocker.png" class="img-responsive img-circle" />
                                Blocker
                            </div>
                        </div>
                    </div>
                    <div class="ui selection dropdown modalSingleDropdown pull-right cn" id="editTaskStatusDropDown">
                        <input type="hidden" name="Status" id="editTaskStatus">
                        <i class="dropdown icon"></i>
                        <div class="default text inner">Status</div>
                        <div class="menu">
                            <div class="item" data-value="ToDo">To do</div>
                            <div class="item" data-value="InProgress">In progress</div>
                            <div class="item" data-value="InTesting">In testing</div>
                            <div class="item" data-value="Done">Done</div>
                            <div class="item" data-value="Closed">Closed</div>
                        </div>
                    </div>
                    <textarea class="form-control" name="Description" placeholder="Description" id="editTaskDescription" rows="5">@Model.Description</textarea>
                    <input class="hidden" name="BugId" value="@Model.BugId" />
                    <div style="margin-top: 10px;">
                        <b>Attachments</b>
                        <i class="fa fa-plus round" id="addAttachmentsModalIcon" aria-hidden="true" style="font-size: 15px; margin-top: 10px;"></i>
                        <ul id="addAttachmentsList" style="color: #4D868D; margin-top: 10px; padding-left: 20px;"></ul>
                        <input type="file" name="attachmentsModal" multiple class="hidden" id="addAttachmentsModal" />
                        <div id="modalAttachments">
                            @Html.Action("BugAttachments", "Task", @Model.BugId)
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn modalCreateButton" style="margin-top: 10px;">Save</button>
                </div>
            }

        </div>
    </div>
</div>

<div class="modal fade" id="deleteAttachmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Delete attachment</h3>
            </div>
            <div class="modal-body">
                <h4>Are you sure?</h4>
            </div>
            <div class="modal-footer">
                <span class="hidden" id="hiddenAttachmentName"></span>
                <button type="button" data-dismiss="modal" class="btn modalCreateButton">No</button>
                <button type="button" data-dismiss="modal" id="addProject" class="btn modalCreateButton" onclick="deleteAttachment()">Yes</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#taskAssignToMeAjax').on('click', function(){
        $.ajax({
            type: "POST",
            url: "/Task/AssignTaskToMe",
            data: {bugId: @Model.BugId},
            success: function(data){
                $('#assignedUserInfo').html(data);
            },
            error: function(){
                alert('En error occured. Please try again.')
            }
        })
    })
</script>


<script>
    $(document).ready(function() {
        $('#editTaskForm').on('submit', (function () {
            var editTaskTitle = $('#Title').val();
            var editTaskStatus = $('#status').val();
            var editTaskPriority = $('#editTaskStatus').val();
            var editTaskDescription = $('#editTaskDescription').val();
            if (editTaskTitle === "" || editTaskStatus === "" || editTaskPriority === "" || editTaskDescription === "") {
                $('#editTaskError').slideDown(300);
                return false;
            } else {
                $('#editTaskError').hide();
                return true;
            }
        }));
    })
</script>

<script>
    $('#addAttachmentsModalIcon').click(function () {
        $('#addAttachmentsModal').click();
    })
</script>
<script>
    document.getElementById('addAttachmentsModal').onchange = function () {
        $('#addAttachmentsList').empty();
        for (var i = 0; i < this.files.length; i++) {
            $('#addAttachmentsList').append('<li>' + this.files[i].name + '</li>');
        }
    };
</script>

<script>
    $('#addAttachmentsIcon').on('click', function() {
        $('#addAttachments').click();
    })
</script>

<script>
    $('#addAttachments').on('change', function() {
        $('#submitAttachments').click();
    });
</script>

<script>
    function showDeleteIcon(liId) {
        $(liId).children(".fa").show();

        $(liId).on("mouseleave", function() {
            $(liId).children(".fa").hide();
        });
    }
</script>

<script>
    function getAttachmentName(id) {
        $('#hiddenAttachmentName').html(id);
    }
</script>

<script>
    function deleteAttachment() {
        var name = $('#hiddenAttachmentName').text();
        $.ajax({
            type: 'POST',
            data: {
                bugId: @Model.BugId,
                name: name
            },
            url: '/Task/DeleteAttachment',
            success: function(data) {
                $('#bugAttachments').html(data);
                $('#modalAttachments').html(data);
            },
            error: function () {
                alert('En error occured. Please try again.');
            }
        });
    }
</script>

<script>
    $('#statusChangeDropDown').on('change', function() {
        var status = $('#statusChangeDropDown').val();
        var id = @Model.BugId;
        $.ajax({
            type: 'POST',
            data: {
                bugId: id,
                status: status
            },
            url: '/Task/ChangeStatus',
            success: function() {
            }
        });
    })
</script>

<script>
    $('#closeTask').on('click', function() {
        $('#statusDropDown').dropdown('set selected', 'Closed');
        $('.ui.dropdown').dropdown('refresh');
    })
</script>

<script>
    $('#editTaskStatusDropDown').dropdown('set selected', '@Model.Status');
    $('#editTaskPriorityDropDown').dropdown('set selected', '@Model.Priority');
    $('#taskProjectDropDown').dropdown('set selected', '@Model.ProjectID');
    $('.ui.dropdown').dropdown('refresh');
</script>

<script>
    $('#fileIcon').click(function () {
        $('#inputFile').click();
    })
</script>
<script>
    document.getElementById('inputFile').onchange = function () {
        $('#fileNames').empty();
        for (var i = 0; i < this.files.length; i++) {
            $('#fileNames').append('<li>' + this.files[i].name + '</li>');
        }
    };
</script>



<script>
    $('select').selectpicker();
</script>

<script>
    if ('@Model.Priority' == 'Major') {
        $('#priorityLable').css('color', '#F69C00');
    }
    if ('@Model.Priority' == 'Minor') {
        $('#priorityLable').css('color', '#B3ABA8');
    }
    if ('@Model.Priority' == 'Critical') {
        $('#priorityLable').css('color', '#CD4C24');
    }
    if ('@Model.Priority' == 'Blocker') {
        $('#priorityLable').css('color', '#CD4C24');
    }
</script>

<script>
    $('.ui.dropdown')
        .dropdown();
</script>

<script>
    var taskStatus = '@Model.Status';
    $('#statusDropDown').dropdown('set selected', taskStatus);
    $('.ui.dropdown').dropdown('refresh');
</script>