@model IEnumerable<BugTrackingSystem.Service.Models.ProjectViewModel>

<div class="row">
    @foreach (var project in Model)
    {

        <div class="col-sm-4 col-xs-12" id="@project.ProjectId" onmouseover="showCloseIcon(this)">
            @if (!User.IsInRole("User"))
            {
                <i class="fa fa-times-circle" style="display: none;" aria-hidden="true" onclick="DeleteProjectModalShow(@project.ProjectId)"></i>
            }
            <a class="redirectAncore" href="@Url.Action("Project", "Project", new {projectId = project.ProjectId})">
                <div class="custom-sticker">
                    <h4 class="cut-text" ><b>@project.Name</b></h4>
                    <div class="row">
                        <span class="col-lg-12 padding0" style="margin-bottom: 5px;">
                            <span class="sticker-properties"> @project.Prefix </span>
                        </span>
                        <div class="projectInfo">
                            @if (project.IsPaused)
                            {
                                <img src="../../Content/Images/Paused.png" class="inline-block"/>
                            }
                            <div class="inline-block pull-right">
                                <i class="fa fa-pencil-square-o" aria-hidden="true">@project.BugsCount</i>
                                <i class="fa fa-users" aria-hidden="true">@project.UsersCount</i>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

    }
</div>
<div class="row Sort_Title_Pagination">
    <i class="fa fa-th-list col-lg-2" aria-hidden="true" style="font-size: 18px; padding: 0; margin: 0"> Projects: @ViewBag.ProjectsCount</i>
    <div class=" pull-right" style="display: inline-block">
        <nav class="local-pagination">
            <ul class="pagination pagination-sm" id="projectsPagination">
                @for (int i = 1; i < ViewBag.PagesCount + 1; i++)
                {
                    <li id="@i" style="cursor:pointer"><a id="@i">@i</a></li>
                }       
            </ul>
        </nav>
    </div>
</div>


<script>
    var a = '#' + '@ViewBag.CurrentPage';
    $('#projectsPagination').children(a).addClass('active');
</script>

<script>
    $('#projectsPagination').children('li').on('click', function () {
        var page = $(this).children('a').html();
        var search = $('#projectSearch').val();
        var sortBy = $('#projectSortBy').html();
        $.ajax({
            type: 'GET',
            url: '/Project/ProjectsInfo',
            data: {
                search: search,
                sortBy: sortBy,
                page: page
            },
            success: function (data) {
                $('#projectsContainer').html(data);
            }
        })
    })
</script>