@model IEnumerable<BugTrackingSystem.Service.Models.BugViewModel>

@if (Model.Count() != 0)
{
    <div id="UniversalTable" style="margin: 10px 0;">
        @foreach (var bug in Model)
        {
            <a href="@Url.Action("Task", "Task", new {bugId = bug.BugId})" style="color: black">
                <div class="TableRow">
                    <div id="ProjectBugRow" class="TableRowInfo row threePoints">

                        <div id="ProjectProjectData" class="col-sm-5 col-xs-9 col-md-3 padding-top7">
                            <div class="IconElement inline-block pull-left padding-top7">
                                @{ var priority = String.Format("../../Content/Images/" + bug.Priority + ".png"); }
                                <img src="@priority" width="35" height="35" />
                            </div>
                            <div class="ProjectPrefix">
                                <span id="ProjectPrefix"> @bug.ProjectPrefix-@bug.BugId</span>
                                @{ var status = String.Format("../../Content/Images/" + bug.Status + ".png"); }
                                <img src="@status">
                            </div>
                            <div class="cut-text ElementText ">
                                @bug.Subject
                            </div>
                        </div>
                        <div id="ProjectProjectName" class="col-sm-2 col-xs-6 padding-top7 xsPaddingNone">
                            <div style="padding-top: 10px;">
                                @bug.ProjectName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-2 col-xs-4 col-md-2 padding-top7 xsPaddingNone" id="CreatedUpdatedDate">
                                <div>
                                    <span style="color: gray; font-size: 12px">Created:</span>
                                    <span style="font-size: 12px">@bug.CreationDate</span>
                                </div>
                                <div>
                                    <span style="color: gray; font-size: 12px">Updated:</span>
                                    <span style="font-size: 12px">@bug.ModificationDate</span>
                                </div>
                            </div>
                            @if (bug.AssignedUser != null)
                            {
                                <div class="col-sm-4 col-xs-9 xsPaddingNone row " id="ProjectBugsUserPhoto">
                                    <div class="pull-left" style="padding: 0; margin:5px; display: inline-block">
                                        <img src="@bug.AssignedUser.Photo" class="img-circle" alt="userPhoto" height="40" width="40" />
                                    </div>
                                    <div id="AssignedUserFullName" class="pull-left" style="padding-top: 10px;">
                                        <div style="font-size: 12px;">@bug.AssignedUser.FirstName</div>
                                        <div style="font-size: 12px;">@bug.AssignedUser.LastName</div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </a>
        }
    </div>
    <div class="col-xs-12 padding0" style="margin: 15px 20px;">
        <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 18px;"> Tasks: @ViewBag.TaskCount</i>
        <div class="pull-right inline-block" style="margin-right: 9px">
            <nav class="local-pagination">
                <ul class="pagination pagination-sm" id="projectTaskPagination">
                    @for (int i = 1; i < ViewBag.PagesCount + 1; i++)
                    {
                        <li id="@i" style="cursor:pointer"><a>@i</a></li>
                    }
                </ul>
            </nav>
        </div>
    </div>
}
@if (Model.Count() == 0)
{
    <h4>There is no tasks on this project</h4>
}

<script>
    var a = '#' + '@ViewBag.CurrentPage';
    $('#projectTaskPagination').children(a).addClass('active');
</script>

<script>
    $('#projectTaskPagination').children('li').on('click', function () {
        var page = $(this).children('a').html();
        var sortBy = $('#projectBugSortBy').html();
        var search = $('#projectBugSearch').val();
        $.ajax({
            type: 'GET',
            url: '/Project/ProjectBugs',
            data: {
                projectId: @ViewBag.ProjectId,
                search: search,
                sortBy:sortBy,
                page: page
            },
            success: function (data) {
                $('#projectsBugContainer').html(data);
            }
        })
    })
</script>
