@model IEnumerable<BugTrackingSystem.Service.Models.FilterViewModel>

<div class="col-xs-12 padding0">
    @foreach (var filter in Model)
    {
        <div class="col-sm-4 col-xs-12" onmouseover="showCloseIcon(this)">
            <i class="fa fa-times-circle" aria-hidden="true" style="display: none;" onclick="deleteFilterModalShow(@filter.FilterId)"></i>
            <a class="redirectAncore" href="@Url.Action("Search", "Search", new {filterId = filter.FilterId})">
                <div class="custom-sticker ">
                    <h3 class="cut-text" style="margin: 0">@filter.Title</h3>
                    <div class="row">
                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cut-text">
                            <span class="sticker-properties">Search:</span>@filter.Search<br />
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Status: </span>@filter.BugStatus
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Project: </span>@filter.Project
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Priority: </span>@filter.BugPriority
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Assignee: </span>@filter.AssignedUser
                        </span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<div class="row col-xs-12" style="margin: 10px 25px 0 15px;">
    <i class="fa fa-filter col-lg-2" aria-hidden="true" style="font-size: 18px; padding: 0; margin: 0"> Filters: @ViewBag.FiltersCount</i>
    <div class=" pull-right" style="display: inline-block">
        <nav class="local-pagination">
            <ul class="pagination pagination-sm" id="filtersPagination">
                @for (int i = 1; i < ViewBag.PagesCount + 1; i++)
                {
                    <li id="@i" style="cursor:pointer"><a id="@i">@i</a></li>
                }
            </ul>
        </nav>
    </div>
</div>

<script>
    var a = '#' + '@ViewBag.CurrentPage';
    $('#filtersPagination').children(a).addClass('active');
</script>

<script>
    $('#filtersPagination').children('li').on('click', function () {
        var page = $(this).children('a').html();
        var search = $('#filterSearch').val();
        var sortBy = $('#filtersSortBy').html();
        $.ajax({
            type: 'GET',
            url: '/Filters/FiltersInfo',
            data: {
                search: search,
                sortBy: sortBy,
                page: page
            },
            success: function (data) {
                $('#filtersContainer').html(data);
            }
        });
    })
</script>


