@model IEnumerable<BugTrackingSystem.Service.Models.FilterViewModel>

<div class="col-xs-12 padding0">
    @foreach (var filter in Model)
    {
        <div class="col-sm-4 col-xs-12" onmouseover="showCloseIcon(this)">
            <i class="fa fa-times-circle" aria-hidden="true" style="display: none;" onclick="deleteFilterModalShow(@filter.FilterId)"></i>
            <a class="redirectAncore" href="@Url.Action("Search", "Search", new {filterId = filter.FilterId})">
                <div class="custom-sticker ">
                    <h4 class="cut-text"><b>@filter.Title</b></h4>
                    <div class="row">
                        <span class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cut-text">
                            <span class="sticker-properties">Search:</span>@filter.Search<br />
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Status: </span>@filter.BugStatus
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Project: </span>@filter.Project
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Priority: </span>@filter.BugPriority
                        </span>
                        <span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 cut-text">
                            <span class="sticker-properties"> Assignee: </span>@filter.AssignedUser
                        </span>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<div class="col-xs-12" style="margin-top: 30px; padding: 0 0 0 30px;">
    <i class="fa fa-filter col-lg-2" aria-hidden="true" style="font-size: 18px; margin: 0; padding: 0;"> Filters: @Model.Count()</i>
    <div class=" pull-right">
        <nav class="local-pagination pull-right">
            <ul class="pagination pagination-sm">
                <li><a href="#">1</a></li>

            </ul>
        </nav>
    </div>
</div>




