@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>

</head>
<div class="general-container marginFromMenu">
    <div class="row">
        <div class="col-sm-4 col-xs-12 padding0">
            @Html.Action("UserInfo", "Profile", new { userId = @ViewBag.UserId })
            <div class="col-xs-12 padding0 marginFromMenu">
                <div class="col-xs-12">
                    <h1>My Projects</h1>
                </div>
                <div id="profileProjects">
                    @Html.Action("UserProjects", "Profile", new { userId = @ViewBag.UserId })
                </div>

            </div>
        </div>
        <div class="col-sm-8 col-xs-12 assignedToMeTable">

            <h1 style="margin-top: 0;">Assigned To Me</h1>
            <div id="userTaskContainer">@Html.Action("UserBugs", "Shared", new { userId = @ViewBag.UserId })</div>
        </div>
    </div>
</div>
