@model BugTrackingSystem.Service.Models.UserViewModel

<div>
    <h1 style="margin: 0;">My Profile</h1>
    <div class="container col-xs-12 divsWithBorder cut-text" style="padding: 15px;">
        <div class="paddingRight10 " style="margin-bottom: 30px;">
            <div class="pull-left padding0 inline-block">
                <img src="@Model.Photo" class="img-circle marginRight10" alt="George Orwell" />
            </div>
            <div class="inline-block ">
                <h4 class="text-left " id="" style="margin: 0 0 5px 0; padding-left: 10px;">@Model.FirstName</h4>
                <h4 class="text-left " style="margin: 0 0 5px 0; padding-left: 10px;">@Model.LastName</h4>
            </div>
        </div>
        <div>
            <h6 class="text-left h6grey">Email</h6>
            <h5 class="text-left">@Model.Email</h5>
        </div>
        <div>
            <h6 class="text-left h6grey">Role</h6>
            <h5 class="text-left">@Model.Role</h5>
        </div>
    </div>
    <div class="container col-xs-12 padding0" style="margin-top: 10px;">
        <div class="padding0 pull-right inline-block" style="padding: 20px 10px 0 10px;" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Edit">
            <a data-toggle="modal" data-target="#ChangeUserModal">
                <img src="~/Content/Images/icon edit copy 2.png" />
            </a>
        </div>
        <div class="padding0 pull-right inline-block" style="padding: 20px 10px 0 10px;" data-toggle="popover" data-placement="bottom" data-trigger="hover" data-content="Change password">
            <a href="#" data-toggle="modal" data-target="#ChangeUserPasswordModal">
                <img src="~/Content/Images/icon password.png" />
            </a>

        </div>
    </div>
</div>

<div class="modal fade" id="ChangeUserPasswordModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-key" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Change password</h3>
            </div>
            <div class="modal-body">
                <div class="validationError" id="editUserPasswordError"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Please fill the form
                </div>
                <div class="validationError" id="editUserRepeatPasswordError"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Password doesn't match confirm password</div>
                <input class="form-control" id="ChangePassword" placeholder="Password">
                <input class="form-control" id="RepeatPassword" placeholder="Repeat Password">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn modalCreateButton" onclick="ChangeUserPassword(@Model.UserId)">Change</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="ChangeUserModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="padding: 0;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times" aria-hidden="true" style="font-size: 34px;"></i></button>
                <i class="fa fa-pencil-square-o" aria-hidden="true" style="font-size: 24px; color: white; padding: 7px 5px 0 0"></i>
                <h3 style="display: inline-block; margin: 5px 0 0 0;">Edit user data</h3>
            </div>
            @using (Html.BeginForm("EditUser", "Users", FormMethod.Post, new { enctype = "multipart/form-data", id="editUserForm" }))
            {
                <div class="modal-body">
                    <div class="validationError" id="editUserError"><i class="fa fa-exclamation-circle" aria-hidden="true"></i>Please fill the form</div>
                    <div style="margin-bottom: 15px;">
                        <div style="display: inline-flex">
                            <div class="inline-block">
                                <img src="@Model.Photo" id="UserPhotoModalPreview" class="img-circle" width="40" height="40"/>
                            </div>
                            <div class="inline-block" style="margin-left: 10px; padding-top: 7px;">
                                <div>
                                    <a id="EditPhoto" style="color: #4D868D; font-size: 12px; text-decoration: underline; margin-top: 10px; cursor: pointer">Edit photo</a>
                                </div>
                                <div>
                                    <a id="ClearPhoto" onclick="ClearUserPhoto()" style="color: #4D868D; font-size: 12px; text-decoration: underline; cursor: pointer">Clear photo</a>
                                </div>
                            </div>
                        </div>
                        <input type="file" name="image" onchange="PreviewPhoto()" id="UserPhoto" class="hidden"/>
                        <input name="UserId" value="@Model.UserId" class="hidden"/>
                        <input name="IsPhotoEdited" value="false" id="IsPhotoEdited" class="hidden"/>
                        @if (User.IsInRole("Administrator"))
                        {
                            <div class="ui selection dropdown modalSingleDropdown pull-right" id="userRoleSelect">
                                <input type="hidden" name="Role">
                                <i class="dropdown icon"></i>


                                <div class="default text inner">Role</div>
                                <div class="menu">
                                    <div class="item" data-value="User">User</div>
                                    <div class="item" data-value="Administrator">Administrator</div>
                                </div>

                            </div>
                        }
                    </div>

                    <div id="FullName">
                        <input class="form-control" id="EditFirstName" name="FirstName" value="@Model.FirstName" placeholder="First Name">
                        <input class="form-control" id="EditLastName" name="LastName" value="@Model.LastName" placeholder="Last Name">
                    </div>

                    <input class="form-control" id="EditEmail" name="Email" value="@Model.Email" placeholder="Email" style="">
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn modalCreateButton">Save</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#editUserForm').on('submit', (function () {
            var firstName = $('#EditFirstName').val();
            var lastName = $('#EditLastName').val();
            var email = $('#EditEmail').val();
            if (firstName === "" || lastName === "" || email === "") {
                $('#editUserError').slideDown(300);
                return false;
            } else {
                $('#editUserError').hide();
                return true;
            }
        }));
    })
</script>

<script>
    var userRole = '@Model.Role';
    if (userRole == 'Administrator') {
        $('.ui.selection.dropdown').dropdown('set selected', 'Administrator');
    }
    else if (userRole == 'User') {
        $('.ui.selection.dropdown').dropdown('set selected', 'User');
    }

    $('.ui.dropdown').dropdown('refresh');
</script>


<script>
    function ChangeUserPassword(id) {
        var password = $('#ChangePassword').val();
        var repeatPassword = $('#RepeatPassword').val();
        if (password !== "" && repeatPassword !== "") {
            if (password !== repeatPassword) {
                $('#editUserPasswordError').hide();
                $('#editUserRepeatPasswordError').slideDown(300);
            } else {
                $('#editUserPasswordError').hide();
                $('#editUserRepeatPasswordError').hide();
                $.ajax({
                    type: 'POST',
                    data: { userId: id, password: password },
                    url: '/Users/ChangeUserPassword',
                    error: function () {
                        alert('An error occured. Please try again.');
                    }
                });
            }       
        } else {
            $('#editUserPasswordError').slideDown(300);
            $('#editUserRepeatPasswordError').hide();
        }
        
    }
</script>


<script>
    $('#EditPhoto').click(function () {
        $('#UserPhoto').click();
    })
</script>

<script>
    function PreviewPhoto() {

        var oFReader = new FileReader();
        oFReader.readAsDataURL(document.getElementById("UserPhoto").files[0]);

        oFReader.onload = function (oFREvent) {
            document.getElementById("UserPhotoModalPreview").src = oFREvent.target.result;
            $('#IsPhotoEdited').val('true');
        };
    };
</script>

<script>
    function ClearUserPhoto() {
        document.getElementById("UserPhotoModalPreview").src = "../../Content/Images/DefaultPhoto.png";
        $('#UserPhoto').wrap('<form>').closest('form').get(0).reset();
        $('#UserPhoto').unwrap();
        $('#IsPhotoEdited').val('true');
    }
</script>


<script>
    $('.ui.dropdown')
        .dropdown();
</script>
